<launch>

	<arg name="launch_gui" default="False" doc="Option to launch the joint state publisher gui."/>
	<arg name="rviz_config" default="-d $(find diff_drive)/config/ddrive.rviz" doc="Option to select RViz configuration file."/>

	<rosparam command="load" file="$(find diff_drive)/config/ddrive_params.yaml" />
	<param name="/robot_description" command="$(find xacro)/xacro $(find diff_drive)/urdf/ddrive.gazebo.xacro"/> 

	<node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher" unless="$(arg launch_gui)"/>

	<node name="joint_state_publisher_gui" type="joint_state_publisher_gui" pkg="joint_state_publisher_gui" if="$(arg launch_gui)"/>

	<node name="robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher"/>

	<node name="rviz" type="rviz" pkg="rviz" args="$(arg rviz_config)"/>

</launch>
